<?xml version="1.0" encoding="UTF-8" ?>
<body>
<!--
    <proxy>
        <rutracker.org>
            <use>yes</use>
            <type>socks5</type>
            <address>127.0.0.1:9100</address>
        </rutracker.org>
        <pornolab.net>
            <use>yes</use>
        </pornolab.net>
        <lostfilm.tv>
            <use>yes</use>
        </lostfilm.tv>
    </proxy>
-->
</body>
