// _login.scss

/* Login Page CSS */

@mixin bora($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

#login {
	background: url(../img/bgLogin.jpg) no-repeat fixed #a5b5bf;
	top: 0;
	background-size: cover;
	margin: 0;
	padding: 0;
	min-height: 100%;
	
	}

#cc {
	display: block;
	position: absolute;
	width: 250px;
	height: 10px;
	margin: auto auto 30px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 10px;
	color: #ffffff;
		a {
			color: #ffffff;
			text-decoration: underline;
		}
}

#mForm {
	max-width: 407px;
	height: 200px;
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	
	div.form {
		width: 317px;
		margin-left: auto;
		margin-right: auto;
	}
	
	div.logo {
		font-family: 'Pacifico', cursive;
		font-size: 26px;
		color: #FFFFFF;
		max-width: 317px;
		height: 30px;
		text-shadow: 1px 1px 2px #575757;
	}
	
	div.enter {
		margin-top: 10px;
	}
	
	.password {
		margin-top: 10px;
	}
	
	div.message {
		margin-top: 25px;
		text-align: center;
		max-width: 317px;
		height: 40px;
		padding-top: 8px;
		padding-right: 8px;
		padding-left: 8px;
		background-color: rgb(171, 9, 9);
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		color: #FFF;
	}
	
	.password input {
		background: #ffffff;
		@include bora(3px);
		width: 317px;
		height: 46px;
		border: 0px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 700;
		font-size: 18px;
		color: #a1a1a1;
		outline: none;
		text-align: center;
		transition: 1s;
	}
	
	.password input:focus {
		background: #FFF;
		@include bora(3px);
		font-family: 'Open Sans', sans-serif;
		font-weight: 700;
		font-size: 18px;
		color: #434343;
		outline: none;
		border: 0px;
		transition: 0.5s;
	}
	
	.enter button {
		background: #1061F8;
		@include bora(3px);
		border: 0px;
		width: 317px;
		height: 46px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 700;
		font-size: 14px;
		color: #FFFFFF;
		transition: 1s;
		text-transform: uppercase;
	}
	
	.enter button:hover {
		background: #0f4ec1;
		@include bora(3px);
		border: 0px;
		width: 317px;
		height: 46px;
		font-family: 'Open Sans', sans-serif;
		border: 0px;
		font-weight: 700;
		font-size: 14px;
		color: #FFFFFF;	
		transition: 0.5s;
		text-transform: uppercase;
	}
}

