// _mobile.scss

	/* Mobile Nav Bar */

#navbarTopNav {
	color: #ffffff;
	font-size: 14px;
	@include OS;
	
	.navBarLogo {
		font-family: 'Pacifico', cursive;
		font-size: 22px;
		color: #FFFFFF;

		@media screen and (max-width: 500px) {
		font-size: 18px;	
		}
	}
	
	hr {
		border-top: 1px solid #16203B;
		height: 1px;
		width: 100%;
		background-color: #2A334E;
	}
	
}

.hideBadgeSmall {
	@media screen and (max-width: 400px){
		display: none !important;

	}
}

.bgNavBar {
	background: #1F2645;
}

#navbarTop {
	padding-bottom: 5px;
}
