// _settings.scsss

#settingsPage {
	padding-bottom: 20px;

	.tabpanel {
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 700;
		font-size: 14px;
		background-color: rgba(255, 255, 255, 0.815);
		padding-top: 12px;
	}

	.tContent {
		@include OS;
		font-size: 13px;
		color: rgb(19, 19, 19);

		h6 {
			@include OSBold;
			color: rgb(59, 59, 59);
		}

		input {
			font-size: 12px;
		}

		button {
			padding-bottom: 8px;
		}

		.form-check-input {
			margin-top: 2px;
		}

		small {
			margin-left: 8px;
		}
	}
}