//_start.scss

#startPage {
	@include OS;
	font-size: 14px;
	
		.page {
		padding: 20px;
		
			p {
				color: #5b5b5b;
				font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
			}
	}
		
		.red {
			color: #ae0808;
			font-weight: bold;
		}
}