// main.scss

html {
	min-height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	height: 100%;
}

	/*Main CSS*/

@mixin bora($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin OS {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;

}

@mixin OSBold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;

}

.alert-mod {
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	 -ms-border-radius: 0px !important;
		 border-radius: 0px !important;
	border-top: 0px !important;
	border-left: 0px !important;
	border-right: 0px !important;
	min-height: 50px;
	margin-bottom: 0px !important;

}

nav {
	margin: 0px;
	padding: 0px;
	width: 100%;
}

a {
	transition: 1s;
	&:hover {
		transition: 0.5s;
	}
}


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}	

	/*IMPORT*/

@import 'login';
@import 'rightside';
@import 'leftside';
@import 'mobile';
@import 'modals';
@import 'test';
@import 'errors';
@import 'news';
@import 'help';
@import 'start';
@import 'settings';

