<h2 class="account-title">Редактировать учетные данные</h2>
<p>
  <label class="label-name">Трекер</label>
  <select onchange="changefunc()" id="selectfunc">
    <option></option>
    {loop="$trackers"}
      <option value="{$value}">{$value}</option>
    {/loop}    
  </select>
</p>
{loop="$credential"}    
<div id="{$value.tracker}_label" class="result">
  <form id="credential">
    <input type="hidden" name="id" value="{$value.id}">
    <p>
      <label class="label-name">Логин</label>
      <input type="text" name="log" value="{$value.login}">
    </p>
    <p>
      <label class="label-name">Пароль</label>
      <input type="password" name="pass" value="{$value.password}">
    </p>
    {if="$value.tracker == 'baibako.tv'"}
    <p>
      <label class="label-name">Passkey</label>
      <input type="text" name="passkey" value="{$value.passkey}">
    </p>    
    {/if}
    <button class="form-button">Сохранить</button>
  </form>
</div>
{/loop}
<div class="clear-both"></div>
<script src="js/user-func.js"></script>