<h2 class="settings-title">Настройки монитора</h2>

<form id="setting">
    <p>
        <label class="label-name">Адрес TorrentMonitor</label>
        <input type="text" name="serverAddress" value="{$serverAddress}">
        <span class="subinput-text">Например: http://torrent.test.ru/</span>
    </p>
    <p>
        <label class="label-name"></label>
        <label><input type="checkbox" name="send" {if="$send"}checked{/if} onclick="expand('sendNotification')"> Отправлять уведомления</label>
    </p>
    <div id="sendNotification" {if="! $send"}class="result"{/if}>
        <p>
            <label class="label-name"></label>
            <label><input type="checkbox" name="sendUpdate" {if="$sendUpdate"}checked{/if} onclick="expand('sendUpdate')"> Отправлять уведомления об обновлениях</label>
        </p>
        <div id="sendUpdate" {if="! $sendUpdate"}class="result"{/if}>
            <label class="label-name">E-mail</label>
            <input type="text" name="sendUpdateEmail" value="{$sendUpdateEmail}">
            <span class="subinput-text">Например: vasya@test.ru</span>
            <br />
            <label class="label-name">Pushover (<a href="https://pushover.net" target="_blank">?</a>)</label>
            <input type="text" name="sendUpdatePushover" value="{$sendUpdatePushover}">
            <span class="subinput-text">Например: uyrxppPbPgetdh7neWr4NZ8rYuyTXD</span>
        </div>
        <p>
            <label class="label-name"></label>
            <label><input type="checkbox" name="sendWarning" {if="$sendWarning"}checked{/if} onclick="expand('sendWarning')"> Отправлять уведомления об ошибках</label>
        </p>
        <div id="sendWarning" {if="! $sendWarning"}class="result"{/if}>
            <label class="label-name">E-mail</label>
            <input type="text" name="sendWarningEmail" value="{$sendWarningEmail}">
            <span class="subinput-text">Например: vasya@test.ru</span>
            <br />
            <label class="label-name">Pushover (<a href="https://pushover.net" target="_blank">?</a>)</label>
            <input type="text" name="sendWarningPushover" value="{$sendWarningPushover}">
            <span class="subinput-text">Например: uyrxppPbPgetdh7neWr4NZ8rYuyTXD</span>
        </div>
    </div>
    <p>
        <label class="label-name"></label>
        <label><input type="checkbox" name="auth" {if="$auth"}checked{/if}> Включить авторизацию</label>
    </p>
    <p>
        <label class="label-name"></label>
        <label><input type="checkbox" id="proxy" name="proxy" {if="$proxy"}checked{/if} onclick="expand('proxySettings')"> Использовать прокси</label>
    </p>
    <div id="proxySettings" {if="! $proxy"}class="result"{/if}>
        <p>
            <label class="label-name">IP, порт прокси-сервера</label>
            <input type="text" name="proxyAddress" value="{$proxyAddress}">
            <span class="subinput-text">Например: 127.0.0.1:9050</span>
        </p>
    </div>
    <p>
        <label class="label-name"></label>
        <label><input type="checkbox" id="torrent" name="torrent" {if="$useTorrent"}checked{/if} onclick="expand('torrentSettings')"> Управлять торрент-клиентом</label>
    </p>
    <div id="torrentSettings" {if="! $useTorrent"}class="result"{/if}>
        <p>
            <label class="label-name">Торрент-клиент</label>
            <label>
                <select id="torrentClient" name="torrentClient">
                    <option value="Deluge" {if="$torrentClient == 'Deluge'"}selected{/if}>Deluge</option>
                    <option value="Transmission" {if="$torrentClient == 'Transmission'"}selected{/if}>Transmission</option>
                </select>
            </label>
        </p>
        <p>
            <label class="label-name">IP, порт торрент-клиента</label>
            <input type="text" name="torrentAddress" value="{$torrentAddress}">
            <span class="subinput-text">Например: 127.0.0.1:58846</span>
        </p>
        <p>
            <label class="label-name">Логин</label>
            <input type="text" name="torrentLogin" value="{$torrentLogin}">
            <span class="subinput-text">Например: KorP</span>
        </p>
        <p>
            <label class="label-name">Пароль</label>
            <input type="password" name="torrentPassword" value="{$torrentPassword}">
            <span class="subinput-text">Например: Pa$$w0rd</span>
        </p>
        <p>
            <label class="label-name">Директория для скачивания</label>
            <input type="text" name="pathToDownload" value="{$pathToDownload}">
            <span class="subinput-text">Например: /var/lib/transmission/downloads</span>
        </p>
        <p>
            <label class="label-name"></label>
            <label><input type="checkbox" name="deleteDistribution" {if="$deleteDistribution"}checked{/if}> Удалять раздачи</label>
            <span class="subinput-text">Только для lostfilm.tv, novafilm.tv, baibako.tv и newstudio.tv</span>
        </p>
        <p>
            <label class="label-name"></label>
            <label><input type="checkbox" name="deleteOldFiles" {if="$deleteOldFiles"}checked{/if}> Удалять файлы старых раздач</label>
            <span class="subinput-text">Только для lostfilm.tv, novafilm.tv, baibako.tv и newstudio.tv</span>
        </p>
    </div>
    <p>
        <label class="label-name"></label>
        <label><input type="checkbox" name="rss" {if="$rss"}checked{/if}> RSS лента</label>
    </p>
    <p>
        <label class="label-name"></label>
        <label><input type="checkbox" name="debug" {if="$debug"}checked{/if}> Режим отладки</label>
    </p>
    <button class="form-button">Сохранить</button>
</form>
<br/>
<br/>
<h2 class="settings-title">Смена пароля</h2>
<form id="change_pass">
    <p>
        <label class="label-name">Новый пароль</label>
        <input type="password" name="password">
    </p>
    <p>
        <label class="label-name">Еще раз</label>
        <input type="password" name="password2">
    </p>
    <button class="form-button">Сменить</button>
</form>
  
  <div class="clear-both"></div>
  
  <script src="js/user-func.js"></script>