<script language="javascript">
// возвращает cookie с именем name, если есть, если нет, то undefined
function getCookie(name)
{
    var matches = document.cookie.match(new RegExp("(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"));
    return matches ? decodeURIComponent(matches[1]) : undefined;
}

$(document).ready(function(){
    var id = getCookie('id');
    if (typeof id !== 'undefined')
    {
        var div = "#"+id;
        $(this).toggleClass("active");
        $(div).next().toggle();
    }
});
</script>
<form id="threme_clear" method="post">

  {loop="contents"}
    {$value}
  {/loop}
  <br>
  <button>Очистить</button>
</form>

<div class="clear-both"></div>

<script src="js/user-func.js"></script>