/*
 *
 * @author Maxim Sofronov
 * @link maxsof.ru
 *
 */

/* ==========================================================================
   CSS reset
   ========================================================================== */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;vertical-align:baseline;font:inherit;font-size:100%;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-spacing:0;border-collapse:collapse;}

/* ==========================================================================
   Content
   ========================================================================== */

h1, h2, h3, h4, h5, h6, form, hr, iframe, p, blockquote, q, ol, ul, table { margin-bottom: 10px; }
h1 { font-size: 22px; }
h2 { font-size: 18px; }
h3 {
    font-weight: bold;
    font-size: 14px;
}

img, hr { border: none; }
hr { border-bottom: 1px #999 solid; }

ol, ul { list-style-position: outside; }
ol { list-style-type: decimal; }
ul { list-style-type: disc; }
ul ul {
    margin: 0;
    list-style-type: circle;
}
li { margin: 0 0 5px 30px; }

big, .big { font-size: 14px; }
small, .small, sub, sup { font-size: 11px; }
sub { vertical-align: sub; }
sup { vertical-align: super; }
strong, .strong { font-weight: bold; }
em { font-style: italic; }

td, th { vertical-align: top; }

input,
input[type="button"],
input[type="checkbox"],
input[type="radio"],
input[type="reset"],
input[type="submit"],
label,
button,
button[type="button"],
button[type="reset"],
button[type="submit"],
select {
    margin: 2px 0;
    outline: none;
    vertical-align: middle;
    font: inherit;
}
input[type="checkbox"], input[type="radio"] { vertical-align: bottom; }
    
button::-moz-focus-inner, input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

input[type="button"],
input[type="reset"],
input[type="submit"],
button,
button[type="button"],
button[type="reset"],
button[type="submit"] {
    padding: 0 16px;
    height: 28px;
    border: 0;
    background: #D71A20;
    background: #89b1b9 url(../img/bg.png) 0 0 repeat;
    color: #FFF;
}

input[type="email"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
textarea,
select {
    margin: 2px 0;
    padding: 6px 7px;
    width: 300px;
    border: 1px #E2E6EF solid;
    font: 14px Arial, Helvetica, sans-serif;
}

textarea {
    overflow: auto;
    min-height: 110px;
    width: 450px;
    outline: none;
    resize: vertical;
}
    
select {
    padding: 5px 6px 5px 7px;
    width: 316px;
}

a {
    outline: none;
    color: #5d939f !important;
    text-decoration: none;
}
a:hover { text-decoration: underline; }

/* ==========================================================================
   Site
   ========================================================================== */

body {
    background: #fff;
    color: #595959;
    font: 14px/18px Arial, Helvetica, sans-serif;
    cursor: default;
}
    
html { overflow-y: scroll; }
html, body {
    width: 100%;
    height: 100%;
}
        
#wrapper {
    margin: 0 auto;
    min-width: 1000px;
    min-height: 100%;
    max-width: 1200px;
    height: auto !important;
    height: 100%;
}

/* ==========================================================================
   Header
   ========================================================================== */

#header {
    padding: 20px 20px 35px 0;
    height: 32px;
}
    
.h-title {
    float: right;
    margin: 7px 0 0;
    color: #000;
    font-size: 24px;
}    
.h-menu { margin: 0; }
.h-menu li {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 0;
    padding: 0 0 0 20px;
    width: 27px;
    list-style: none;
    text-transform: uppercase;
}
.h-menu .active { width: 235px; }
.h-menu .active a { background-color: #F1F4FD; }
.h-menu a {
    display: block;
    padding-left: 32px;
    width: 203px;
    height: 32px;
    color: #5D939F !important;
    text-decoration: none;
    line-height: 32px;
}
.h-menu a:hover { background-color: #F1F4FD; }
.h-menu-item1,
.h-menu-item2,
.h-menu-item3,
.h-menu-item4,
.h-menu-item5,
.h-menu-item6,
.h-menu-item7,
.h-menu-item8,
.h-menu-item9,
.h-menu-item10 {
    background-image: url(../img/icon1.png);
    background-position: 4px 4px;
    background-repeat: no-repeat;
}
                    
.h-menu-item2 { background-image: url(../img/icon2.png); }
.h-menu-item3 { background-image: url(../img/icon3.png); }
.h-menu-item4 { background-image: url(../img/icon4.png); }
.h-menu-item5 { background-image: url(../img/icon5.png); }
.h-menu-item6 { background-image: url(../img/icon6.png); }
.h-menu-item7 { background-image: url(../img/icon7.png); }
.h-menu-item8 { background-image: url(../img/icon8.png); }
.h-menu-item9 { background-image: url(../img/icon9-2.png); }
.h-menu-item10 { background-image: url(../img/icon10.png); }

/* ==========================================================================
   Middle
   ========================================================================== */

#content {
    padding: 0 20px 20px;
    min-height: 100px;
}
    
table {
    margin-bottom: 20px;
    width: 100%;
    border: 1px #E2E6EF solid;
    color: #595959;
}
        
thead {
    background: #89b1b9 url(../img/bg.png) 0 0 repeat;
    color: #FFF;
}
thead a { color: #FFF !important; }
thead a:hover { text-decoration: none; }
            
.arr {
    display: inline-block;
    margin-top: 9px;
    height: 5px;
    vertical-align: top;
    font-size: 14px;
    line-height: 0;
}
            
.icon-torrent {
    display: inline-block;
    margin-right: 15px;
    width: 16px;
    height: 16px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    line-height: 0;
	vertical-align: middle;
	margin-top: -3px;
}
            
th, td {
    padding: 5px;
    vertical-align: middle;
    text-align: center;
}
tr:nth-child(even) { background: #f1f4fd; }
td { border-right: 1px #E2E6EF solid; }
                    
.delete, .edit, .add {
    display: block;
    float:left;
    padding-left: 7px;
    margin: auto;
    width: 18px;
    height: 18px;
    background: url(../img/delete.png) 0 0 no-repeat;
}
.edit { background: url(../img/edit.png) 2px 2px no-repeat; }
.add { background: url(../img/add.png) 2px 2px no-repeat; }
    
.update {
    float: center;
    text-align: center;
    padding: 5px 10px;
    background: #89b1b9 url(../img/bg.png) 0 0 repeat;
    color: #FFF;
}      
.updatetime {
    float: right;
    text-align: right;
    padding: 5px 10px;
    background: #89b1b9 url(../img/bg.png) 0 0 repeat;
    color: #FFF;
}
.dberror {
    float: left;
    text-align: left;
    padding: 5px 10px;
    margin-left: 20px;
    margin-bottom: 3px;
    background: #89b1b9 url(../img/bg.png) 0 0 repeat;
    color: #FFF;
    border: 1px #E2E6EF solid;
}   
    
.user-torrent-del {
	margin-bottom: -16px;
	background: url(../img/delete_small.png) 0 0 no-repeat;
	height: 14px;
	width: 14px;
}

.user-torrent {
    margin-bottom: 15px;
	margin-left: 22px;
    padding-left: 20px;
    background: url(../img/plus.png) 0 2px no-repeat;
}
.user-torrent.active { background-image: url(../img/minus.png); }
.user-table { display: none; }
.monitoring-title, .account-title, .settings-title {
    margin-bottom: 15px;
    padding-left: 25px;
    background: url(../img/add.png) 0 2px no-repeat;
    color: #5d939f;
    text-transform: uppercase;
    font-size: 14px;
}
.account-title { background: url(../img/edit.png) 0 0 no-repeat; }
.settings-title {
    padding: 0;
    background: none;
}
.label-name {
    display: inline-block;
    width: 125px;
}
.subinput-text {
    display: block;
    margin-left: 125px;
    width: 300px;
    color: #999;
    font-size: 11px;
}
.form-button { margin-left: 125px; }
.test {
    margin: auto;
    width: 600px;
}
.test td {
    border: 0;
    background: #FFF;
    color: #7ea875;
    text-align: left;
}
.test-error {
    background: #c99785 !important;
    color: #FFF !important;
}

.enter {
	margin: auto;
	width: 450px;
}

/* ==========================================================================
   Default
   ========================================================================== */

.border-none { border: none; }
.clear-both { clear: both; }
.dashed {
    border-bottom: 1px dashed;
    color: #069;
    text-decoration: none;
    cursor: pointer;
}
.dashed:hover {
    border-bottom-style: dashed !important;
    color: #c00 !important;
}
.display-none { display: none; }
.float-left { float: left; }
.float-right { float: right; }
.gray { color: #999; }
.margin-auto { margin: auto; }
.margin-null { margin: 0; }
.text-align-center { text-align: center; }
.text-align-left { text-align: left; }
.text-align-right { text-align: right; }
.text-decoration-none { text-decoration: none; }
.valign-middle { vertical-align: middle; }
.valign-top { vertical-align: top; }

/* ==========================================================================
   Говнокод
   ========================================================================== */
div.new {
    background: #eae9e9;
    padding: 10px;
}
div.cut { font-weight: bold; }
div.cutLink {
    color: #5493ff;
    text-decoration: underline;
}
div.cut_box {
	font: 12px "Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
	font-weight: bold;
	cursor: pointer;
}
div.unhide { display: block; }
div.result { display: none; }
span.quality { display: inline-block; }
img.loader { padding: 0 40% 0px; }
div.coverAll {
    z-index: 1000;
    background: rgba(245, 222, 179, 0.7);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
div.blok {
    background-color: #ffffff;
    position: relative;
    width: 40%;
    left: 30%;
    padding: 1em;
    margin: 2em 10px 4em;
    background: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
div.blok:before, div.blok:after {
    position:absolute;
    z-index:-2;
}